<h1><%= @team.name %></h2>
<p>
  <%= @team.description %>
</p>

<div class="row">
    <%= render @team.persons %>
</div>


<%= link_to 'Edit', edit_team_path(@team) %> | <%= link_to 'Mitglieder bearbeiten', team_people_path(@team) %> | <%= link_to 'Back', teams_path %>
