<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <%= image_tag person.avatar.url(:large), class:"img-responsive" %>
        <div class="caption">
            <h2><%= person.name %> <small><%= person.position %></small></h2>
            <p>
                <%= person.about %>
                <% unless person.contact.nil?  || person.contact.blank? %>
                    <br>
                    <%= mail_to person.contact, "Kontakt" %>
                <% end %>
            </p>
        </div>
    </div>
</div>