<h1>Listing people</h1>

<table id="sortable" data-update_url="<%= sort_team_people_path(@team) %>" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>About</th>
      <th>Contact</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.rank(:row_order).each do |person| %>
      <tr data-item_id="<%= person.id %>" class="item">
        <td><%= person.name %></td>
        <td><%= person.position %></td>
        <td><%= person.about %></td>
        <td><%= person.contact %></td>
        <td><%= person.team.name %></td>
        <td><%= link_to 'Show', [@team,person] %></td>
        <td><%= link_to 'Edit', edit_team_person_path(@team,person) %></td>
        <td><%= link_to 'Destroy', [@team,person], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_team_person_path(@team) %>
