<h1><%= t 'team.members' %> <%= @team.name %></h1>

<%= new_btn 'person.new', new_team_person_path(@team) %>
<div class="row">
    <div class="col-sm-6">
        <div class="table-responsive">
            <table id="sortable" data-update_url="<%= sort_team_people_path(@team) %>" class="table">
              <thead>
                <tr>
                  <th><%= t 'person.name' %></th>
                  <th><%= t 'person.position' %></th>
                  <th></th>
                </tr>
              </thead>
            
              <tbody>
                <% @people.each do |person| %>
                  <tr data-item_id="<%= person.id %>" class="item">
                    <td><%= person.name %></td>
                    <td><%= person.position %></td>
                    <td class="vert-align">
                        <div class="btn-group btn-group-sm pull-right">
                            <%= edit_btn edit_team_person_path(@team,person) %>
                            <%= destroy_btn [@team,person]%>
                        </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</div>