<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @person.position %>
</p>

<p>
  <strong>About:</strong>
  <%= @person.about %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @person.contact %>
</p>

<p>
  <strong>Group:</strong>
  <%= @person.team.name %>
</p>

<%= link_to 'Edit', edit_team_person_path(@team,@person) %> |
<%= link_to 'Back', team_people_path(@team) %>
