<h2>Benutzer</h2>

<%= link_to "Neuen Benutzer anlegen" , new_user_path, class: "btn btn-primary" %> <br> <br>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>eMail</th>
            <th>Letzte Anmeldung</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr <% unless user.active_for_authentication? %>class="warning"<% end %> >
            <td><%=link_to user.name, user %></td>
            <td><%= mail_to user.email %></td>
            <td><%= format_datetime user.last_sign_in_at %></td>
            <td>
                <%= link_to "Anzeigen", user, class: "btn btn-default btn-sm"  %>
                <%= link_to t('actions.edit'), edit_user_path(user), class: "btn btn-default btn-sm" %> <%= link_to t('actions.destroy'), user, method: :delete, data: { confirm: t('actions.confirm') },class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>