<h2>Benutzer</h2>

<%= new_btn t('user.new') , new_user_path %>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>eMail</th>
            <th>Letzte Anmeldung</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr <% unless user.active_for_authentication? %>class="warning"<% end %> >
            <td><%=link_to user.name, user %></td>
            <td><%= mail_to user.email %></td>
            <td><%= format_datetime user.last_sign_in_at %></td>
            <td><div class="btn-group pull-right">
                    <%= link_btn t('actions.show'), user %>
                    <%= edit_btn edit_user_path(user) %>
                    <%= destroy_btn user %>
                </div>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
</div>