<%= form_for([@event,@attachment], html: { class: "form-horizontal", :multipart => true }) do |f| %>
<% if @event.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
    <div class="form-group">
        <%= f.label :title, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
            <%= f.text_field :title, class: "form-control" %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :description, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
            <%= f.text_area :description, class: "form-control wysihtml5", rows: 15 %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :upload, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
            <%= f.file_field :upload, class: "form-control" %>
        </div>
    </div>

    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit t('actions.save'), class: "btn btn-default" %>
      </div>
  </div>
<% end %>


