<h1>Anhänge</h1>
<%= link_to 'Neuen Anhang hochladen', new_event_attachment_path(@event), class: "btn btn-primary" %> <br><br>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Beschreibung</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @attachments.each do |attachment| %>
            <tr>
                <td><%= attachment.title %></td>
                <td><%= attachment.description %></td>
                <td><div class="btn-group pull-right"><%= link_to t('actions.edit'), edit_event_attachment_path(@event,attachment), class: "btn btn-default btn-sm" %> <%= link_to t('actions.destroy'), [@event,attachment], method: :delete, data: { confirm: t('actions.confirm') },class: "btn btn-danger btn-sm" %></div></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>