<h1><%= t('attachment.attachments') %></h1>
<%= new_btn 'attachment.new', new_event_attachment_path(@event) %>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th><%= t('attachment.title') %></th>
                <th><%= t('attachment.description') %></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @attachments.each do |attachment| %>
            <tr>
                <td><%= attachment.title %></td>
                <td><%= attachment.description %></td>
                <td><div class="btn-group pull-right"><%= edit_btn(edit_event_attachment_path(@event,attachment)) %> <%= destroy_btn([@event,attachment]) %></div></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>