<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attachment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<%= image_tag @attachment.upload.url(:medium) %>

<%= link_to 'Bearbeiten', edit_event_attachment_path(@event, @attachment) %> |
<%= link_to 'Zur Veranstaltung', @event %>
