<h1>Rundbrief</h1>


<%= link_to 'Neuen Rundbrief anlegen', new_magazine_path %>

<div class="row">
    <% @magazines.each do |magazine| %>
    <div class="col-sm-6 col-md-4">
        <h2><%= magazine.title %> <small><%= magazine.issue %>-<%= magazine.year %></small></h2>
        <%= link_to image_tag(magazine.pdf.url(:thumbnail), class: "img-responsive"), readpdf_magazine_path(magazine), data: {no_turbolink: true} %>
    </div>
    <% end %>
</div>

<%= will_paginate @magazines, renderer: BootstrapPagination::Rails %>