<h1><%= @magazine.title %> <small><%= @magazine.issue %>-<%= @magazine.year %></small></h1>

<div id="magazine" data-pdf="<%= @magazine.pdf.url %>">
    
</div>
<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
