<% content_for :jumbotron do %>
<div class="jumbotron-content">
    <div class="cloud left-cloud hidden-xs hidden-sm">
    </div>
    <div class="cloud right-cloud hidden-xs hidden-sm">
    </div>
    <%= render "carousel" %>
</div>
<% end %>

<% unless @events.nil? || @events.length <= 0 %>
<h2>Upcoming</h2>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <%= render partial: "events/large_box", object: @events.first, as: "event", locals: {text_length: 1000} %>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <%= render partial: "events/event_box", collection: @events, layout: "/events/regular_box", as: "event", locals: {skip: 1} %>
        </div>
    </div>
</div>
<% end %>


<div class="row">
    <div class="col-md-4 col-sm-12">
        <h2>Aktueller Rundbrief <small><%= @magazine.issue %>-<%= @magazine.year %></small></h2>
        <%= link_to image_tag(@magazine.pdf.url(:thumbnail), class: "img-responsive"), readpdf_magazine_path(@magazine), data: {no_turbolink: true} %>
    </div>
    <div class="col-md-8 col-sm-12">
        <h2>Podcast</h2>
        <% @podcasts.each do |podcast| %>
            <h3><%= podcast.title%> <small><%= link_to "Download", podcast.upload.url %></small></h3>
            
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <audio src="<%= podcast.upload.url %>" preload="auto" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p><%=link_to podcast.event.title, podcast.event %> - <%= event_duration(podcast.event) %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>


