<% text_length = 160 if text_length.nil?%>
<div class="event-box">
    <h2><%= event.title %></h2>
    <p class="date"><%= event_duration(event) %> <%= state_label(event) %></p>
    <p>
      <%=truncate strip_tags(event.description), length: text_length %>
    </p>
    <p class="links"><%= link_to "Details anzeigen", event %></p>
</div>