<h1><%= t('staff.events') %></h1>
<%= new_btn 'event.new', new_event_path, false %> <%= new_btn 'event.new_batch', new_eventbatch_path%>
<table class="table">
  <thead>
    <tr>
      <th><%= t('event.title') %></th>
      <th><%= t('event.starts_at') %></th>
      <th><%= t('event.ends_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%=link_to event.title,event %></td>
        <td><%=l event.starts_at, format: :long %></td>
        <td><%=l event.ends_at, format: :long %></td>
        <td><div class="btn-group pull-right"><%= edit_btn(edit_event_path(event)) %> <%= destroy_btn event %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>