<h2><%= @event.title %></h2>
<p><%=l @event.starts_at, :format => :long %> - <%=l @event.ends_at, :format => :long %></p>
<p>
  <%=raw @event.description %>
</p>

<%= link_to t('actions.edit'), edit_event_path(@event) if current_or_null_user.can_update?(@event)%>
