<h1><%= t('staff.pages') %></h1>
<%= new_btn 'actions.new_page' , new_page_path %>
<div class="row" data-no-turbolink>
    <div class="col-sm-6">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><%= Page.human_attribute_name("title") %></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @pages.each do |page| %>
                    <tr>
                        <td><%= link_to page.title, page %></td>
                        <td><div class="btn-group pull-right"><%= edit_btn edit_page_path(page) %> <%= destroy_btn page %></div></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
