<h1><%= t('staff.pages') %></h1>
<%= link_to t('actions.new_page') , new_page_path, class: "btn btn-primary" %> <br><br>
<div class="row" data-no-turbolink>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><%= Page.human_attribute_name("title") %></th>
                        <th><%= t('actions.actions') %></th>
                    </tr>
                </thead>

                <tbody>
                    <% @pages.each do |page| %>
                    <tr>
                        <td><%= link_to page.title, page %></td>
                        <td><div class="btn-group pull-right"><%= link_to t('actions.edit'), edit_page_path(page), class: "btn btn-default btn-sm" %> <%= link_to t('actions.destroy'), page, method: :delete, data: { confirm: t('actions.confirm') },class: "btn btn-danger btn-sm" %></div></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
