<%%= bootstrap_form_for(@<%= singular_table_name %>, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4") do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div class="alert alert-warning">
      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
 
<% if attribute.password_digest? -%>
    <%%= f.password_field :password %>
    <%%= f.password_field :password_confirmation %>
<% else -%>
  <%- if attribute.reference? -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
  <%- else -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  <%- end -%>
<% end -%>
<% end -%>
  <%%= f.form_group do %>
    <%%= f.primary t('actions.save') %>
  <%% end %>
<%% end %>