<h1><%= t('room.rooms') %></h1>
<%= link_to t('room.new'), new_room_path, class: "btn btn-primary" %><br><br>
<table class="table">
  <thead>
    <tr>
      <th><%= t('room.name') %></th>
      <th><%= t('room.address')%></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%=link_to room.name, room %></td>
        <td><%= room.street %> <%= room.plz %> <%= room.city %></td>
        <td><div class="btn-group pull-right"><%= edit_btn(edit_room_path(room)) %> <%= destroy_btn(room) %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
