<h3><%= podcast.title%> <small><%= link_to "Download", podcast.upload.url %></small></h3>
            
<div class="row hidden-xs">
    <div class="col-xs-12">
        <audio src="<%= podcast.upload.url %>" preload="auto" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p><%=link_to podcast.event.title, podcast.event %> - <%= event_duration(podcast.event) %></p>
    </div>
</div>