<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Thening" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <link rel="apple-touch-icon-precomposed" href="/favicon_hires.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <%= render 'layouts/navigation' %>
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Kirche im Feld</h1>
            <p>Evangelische Kirche Thening</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <%= render 'layouts/messages' %>
                <%= render_breadcrumbs %>
                <%= yield %>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Evangelische Gemeinde Thening 2014 | <a href="/page/impressum">Impressum</a></p>
        </footer>
    </div> <!-- /container -->
</body>
</html>