<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Evangelische Kirche Thening" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Evangelische Kirche Thening" %>">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon_hires.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "pdf", media: "all" %>
    
    <%= javascript_include_tag "application" %>
    <script src="/pdfreader/flipbook.min.js"></script>
    <%= javascript_include_tag "pdfreader" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <%= render 'layouts/navigation' %>
        </div>
    </nav>

    <div class="container content">
        <div class="row">
            <div class="col-sm-12">
                <%= render 'layouts/messages' %>
                <ol class="breadcrumb">
                    <%= render_breadcrumbs :tag => :li, :separator => "" %>
                 </ol>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%= yield %>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>&copy; Evangelische Gemeinde Thening 2014 | <a href="/page/impressum">Impressum</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>